name: Flutter Android Build

on:
  push:
    branches: [ dev ]
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.17.0'

      - name: Install dependencies
        run: flutter pub get

      - name: Accept Android Licenses
        run: yes | sdkmanager --licenses || true

      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: build/app/outputs/flutter-apk/app-release.apk
